.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.previewImage {
  height: 500px;
  width: 500px;
  border-radius: 16px;
  border: 1px solid var(--border-color);
  padding: 8px;
}

.mintInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 24px;
  min-height: 720px;
  max-width: 95vw;
  gap: 2%;
  border: 1px solid var(--border-color);
  border-radius: 16px;
}

.infoSide {
  font-size: 40px;
  margin: var(--space-16x) var(--space-8x) var(--space-4x);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: 100%;
}

.description {
  text-transform: uppercase;
  padding: var(--space-4x);
  font-size: 14px;
  color: var(--secondary-color);
  font-weight: 700;
  letter-spacing: -0.05em;
  height: 100%;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.imageSide {
  width: 45%;
  height: 100%;
}

.image {
  width: 85%;
  border-radius: 16px;
}

.mainButton {
  cursor: pointer;
  display: inline-flex;
  appearance: none;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  font-weight: 600;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 3rem;
  min-width: 3rem;
  font-size: 1rem;
  background: #323332;
  color: #fff;
  width: 180px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #6580cb;
}

.mainButton:hover {
  opacity: 0.8;
}

.mintCompletionArea {
  text-transform: uppercase;
  padding: var(--space-4x);
  font-size: 9px;
  font-weight: 700;
  color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.mintAreaLeft {
  margin-left: 5%;
  opacity: 0.75;
}

.mintAreaRight {
  margin-right: 5%;
  opacity: 0.75;
}

/* On mobile, make the .mintInfoContainer stack vertically */
@media screen and (max-width: 850px) {
  .mintInfoContainer {
    flex-direction: column;
    padding-bottom: 5%;
  }

  .infoSide {
    width: 100%;
  }

  .imageSide {
    width: 100%;
  }
}

.quantityContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 700;
  gap: 10%;
}

.quantityControlButton {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  font-size: 1rem;
  background-color: transparent;
  color: #fff;
  border: 1px solid grey;
}

.quantityControlButton:disabled {
  opacity: 0.25;
}

